#canvas {
    border: solid black 2px;
    height: 490px;
    width: 493px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: none;
    padding: none;
}

.pixel {
    height: 15px;
    width: 15px;
    border: solid black 1px;
}

#palette {
    width: 540px;
    height: 100px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

#blueviolet {
    background-color: blueviolet;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#indicator {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background-color: white;
}